:root {
    --black-color: rgb(18, 18, 18);
    --white-color: rgb(255, 255, 255);
    --gray-color: rgb(222, 222, 222);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open-Sans", sans-serif;
}

body {
    padding: 35px;
    color: var(--black-color);
}

